USE [World]
GO
/****** Object:  Table [dbo].[ADDRESSES]    Script Date: 13.7.2014 г. 10:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESSES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address_text] [nvarchar](150) NOT NULL,
	[town_id] [int] NOT NULL,
 CONSTRAINT [PK_ADDRESSES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTINENTS]    Script Date: 13.7.2014 г. 10:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTINENTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CONTINENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 13.7.2014 г. 10:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[continent_id] [int] NOT NULL,
 CONSTRAINT [PK_COUNTRIES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONS]    Script Date: 13.7.2014 г. 10:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[address_id] [int] NULL,
 CONSTRAINT [PK_PERSONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOWNS]    Script Date: 13.7.2014 г. 10:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOWNS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[country_id] [int] NOT NULL,
 CONSTRAINT [PK_TOWNS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ADDRESSES] ON 

INSERT [dbo].[ADDRESSES] ([id], [address_text], [town_id]) VALUES (1, N'Генерал Заимов 9', 1)
SET IDENTITY_INSERT [dbo].[ADDRESSES] OFF
SET IDENTITY_INSERT [dbo].[CONTINENTS] ON 

INSERT [dbo].[CONTINENTS] ([id], [name]) VALUES (1, N'Европа')
INSERT [dbo].[CONTINENTS] ([id], [name]) VALUES (2, N'Южна Америка')
INSERT [dbo].[CONTINENTS] ([id], [name]) VALUES (3, N'Северна Америка')
SET IDENTITY_INSERT [dbo].[CONTINENTS] OFF
SET IDENTITY_INSERT [dbo].[COUNTRIES] ON 

INSERT [dbo].[COUNTRIES] ([id], [name], [continent_id]) VALUES (1, N'България', 1)
INSERT [dbo].[COUNTRIES] ([id], [name], [continent_id]) VALUES (4, N'САЩ', 3)
SET IDENTITY_INSERT [dbo].[COUNTRIES] OFF
SET IDENTITY_INSERT [dbo].[PERSONS] ON 

INSERT [dbo].[PERSONS] ([id], [first_name], [last_name], [address_id]) VALUES (1, N'Георги', N'Ганков', 1)
INSERT [dbo].[PERSONS] ([id], [first_name], [last_name], [address_id]) VALUES (2, N'Димо', N'Петров', NULL)
SET IDENTITY_INSERT [dbo].[PERSONS] OFF
SET IDENTITY_INSERT [dbo].[TOWNS] ON 

INSERT [dbo].[TOWNS] ([id], [name], [country_id]) VALUES (1, N'Ямбол', 1)
INSERT [dbo].[TOWNS] ([id], [name], [country_id]) VALUES (2, N'София', 1)
INSERT [dbo].[TOWNS] ([id], [name], [country_id]) VALUES (4, N'New York', 4)
SET IDENTITY_INSERT [dbo].[TOWNS] OFF
ALTER TABLE [dbo].[ADDRESSES]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESSES_PERSONS] FOREIGN KEY([town_id])
REFERENCES [dbo].[PERSONS] ([id])
GO
ALTER TABLE [dbo].[ADDRESSES] CHECK CONSTRAINT [FK_ADDRESSES_PERSONS]
GO
ALTER TABLE [dbo].[ADDRESSES]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESSES_TOWNS] FOREIGN KEY([town_id])
REFERENCES [dbo].[TOWNS] ([id])
GO
ALTER TABLE [dbo].[ADDRESSES] CHECK CONSTRAINT [FK_ADDRESSES_TOWNS]
GO
ALTER TABLE [dbo].[COUNTRIES]  WITH CHECK ADD  CONSTRAINT [FK_COUNTRIES_CONTINENTS] FOREIGN KEY([continent_id])
REFERENCES [dbo].[CONTINENTS] ([id])
GO
ALTER TABLE [dbo].[COUNTRIES] CHECK CONSTRAINT [FK_COUNTRIES_CONTINENTS]
GO
ALTER TABLE [dbo].[TOWNS]  WITH CHECK ADD  CONSTRAINT [FK_TOWNS_COUNTRIES] FOREIGN KEY([country_id])
REFERENCES [dbo].[COUNTRIES] ([id])
GO
ALTER TABLE [dbo].[TOWNS] CHECK CONSTRAINT [FK_TOWNS_COUNTRIES]
GO
