<div class="container" ng-controller="GameController">
    <div class="well">
        <form name="articleForm" class="form-horizontal">
            <fieldset>
                <legend>Play the fucking game</legend>
                <div class="btn-group-vertical">
                    <a href="#" class="btn btn-default">Button</a>
                    <a href="#" class="btn btn-default">Button</a>
                    <a href="#" class="btn btn-default">Button</a>
                </div>
                <div class="btn-group-vertical">
                    <a href="#" class="btn btn-default">Button</a>
                    <a href="#" class="btn btn-default">Button</a>
                    <a href="#" class="btn btn-default">Button</a>
                </div>
                <div class="btn-group-vertical">
                    <a href="#" class="btn btn-default">Button</a>
                    <a href="#" class="btn btn-default">Button</a>
                    <a href="#" class="btn btn-default">Button</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>