@model LaptopSystem.Web.Models.CommentViewModel
<div class="row">
    <div class="col-lg-6 pull-left comment-box">
        <p>Comment by: @Model.AuthorUserName</p>
        <p>@Model.Content</p>
    </div>
</div>