body,
thead,
tr,
td,
th,
tbody,
div {
  padding: 0;
  margin: 0;
}
#wrapper {
  padding: 15px;
}
#wrapper #generated-table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}
#wrapper #generated-table td,
#wrapper #generated-table th {
  border: 1px solid black;
  padding: 3px;
}
#wrapper #generated-table thead {
  background-color: #acacac;
  color: white;
}
#wrapper #generated-table tbody tr:nth-of-type(even) {
  background-color: #ededed;
}
