extends ../includes/layout
block main-content
    .container
        .well
            form.form-horizontal(name="signUpForm" method="post")
                fieldset
                    legend Update profile information
                    .form-group
                        label.col-md-2.control-label(for="first-name") First Name
                        .col-md-10
                            input.form-control(type="text", placeholder="First Name", name="firstName", required value="#{firstName}")
                    .form-group
                        label.col-md-2.control-label(for="last-name") Last Name
                        .col-md-10
                            input.form-control(type="text", placeholder="Last Name", name="lastName", required value="#{lastName}")
                    .form-group
                        label.col-md-2.control-label(for="password") Password
                        .col-md-10
                            input.form-control(type="password", placeholder="Password", name="password")
                    .form-group
                        label.col-md-2.control-label(for="password") Confirm Password
                        .col-md-10
                            input.form-control(type="password", placeholder="Confirm Password", name="confirmPassword")
                    .pull-right
                        input.btn.btn-primary(type="submit")
                        a.btn.btn-primary(href="/") Cancel