extends ../includes/layout
block main-content
    .well
        H3 Name: #{fullName}
        H4 Age: #{age}
        if comment
            H4 Comment: #{comment}
        H5 Images:
        div.participant-images
            for picture in pictures
                img(src="/files/" + picture.url)
            else
                h5 No pictures!

block page-scripts
script(type="text/javascript" src="/scripts/masonry.pkgd.min.js")